<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536677751470-65sstaio8a4r00n41iq7hch2c1t2658i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536677751470-65sstaio8a4r00n41iq7hch2c1t2658i</string>
	<key>API_KEY</key>
	<string>AIzaSyDzlWa3mx7tYx3662bJ76cvIbq9EpKJ6d8</string>
	<key>GCM_SENDER_ID</key>
	<string>536677751470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cashCrop</string>
	<key>PROJECT_ID</key>
	<string>cash-crop-777c9</string>
	<key>STORAGE_BUCKET</key>
	<string>cash-crop-777c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536677751470:ios:e263abdf46c11cd3372b3f</string>
</dict>
</plist>